body{
    .wrap{
        #circle{
            article.face2{
                transform: rotateY(45deg) translateZ(-764px);
                .inner{
                    >div{
                        width: 100%;
                        height: 100%;

                        img{
                            width: 100%;
                            // width 값만 100%로 지정하면 height 값은 알아서 맞춰짐
                            margin-top: 30px;
                            margin-bottom: 40px;
                        }
                        h3{
                            color: #fff;
                            margin-bottom: 20px;
                        }
                        p{
                            font: 18px/1.3 "arial";
                            color: #ccc;
                        }
                    }
                }
            }
        }
    }
}